asgiref==3.8.1
Django==5.1.1
django-appconf==1.0.6
django-cors-headers==4.4.0
django-extensions==3.2.3
django-filter==24.3
django-imagekit==5.0.0
djangorestframework==3.15.2
djangorestframework-simplejwt==5.3.1
drf-yasg==1.21.7
drf-yasg2==1.19.4
Faker==28.4.1
hyperlink==21.0.0
incremental==24.7.2
inflection==0.5.1
jsonschema==4.23.0
jsonschema-specifications==2023.12.1
mysqlclient==2.2.4
packaging==24.1
pilkit==3.0
pillow==10.4.0
psycopg2==2.9.9
PyJWT==2.9.0
pyOpenSSL==24.2.1
python-dateutil==2.9.0.post0
python-decouple==3.8
pytz==2024.2
PyYAML==6.0.2
setuptools==75.1.0
sqlparse==0.5.1
tzdata==2024.2
uritemplate==4.1.1
